<p class="alert flex justify-between bg-yellow-600 p-3" data-controller="flash-component">
  <span><%= alert %></span>
  <span class="cursor-pointer" data-action="click->flash-component#closeFlash">X</span>
</p>